@model IEnumerable<Ormus.Web.Models.UserRoleModel>

@{
    ViewBag.Title = "User Roles";
}

<h2>@ViewBag.Title</h2>

@if (!string.IsNullOrWhiteSpace(ViewBag.Message))
{
    <div class="alert alert-success">@ViewBag.Message</div>
}

@if (!string.IsNullOrWhiteSpace(ViewBag.Error))
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<p>
    @Html.ActionLink("Create New", "Create", routeValues: null, htmlAttributes: new { @class = "btn btn-sm btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ghost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ghost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-warning" })
            @Html.ActionLink("Details", "Details", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-info" })
            @Html.ActionLink("Delete", "Delete", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
